
<body class="animsition" >
  <%= render 'navbar' %>

  <div class="page container-fluid " data-animsition-in="fade-in" data-animsition-out="fade-out">
    <div class="row bg-grey-800 text-white">
      <div class="page-content ">
        <span class="icon  float-left"></span>
        <h1 class="text-white font-size-50" >
          <i class="icon md-account-add font-size-70"></i>
          What is it?
          </h1>
          <p class="lead text-left">
            FlossCoach is aimed to help newcomers to Free/Libre Open Source Software (FLOSS)
          </p>
        </div>
      </div>

      <div class="row bg-indigo-500 text-white">
        <div class="page-content ">
          <h1 class="text-white font-size-50" >
            <i class="icon md-eye font-size-70"></i>
              Create or add your project on FlossCoach</h1>
            <p class="lead bg-indigo-500 text-left">
              By <%= link_to "adding your project", new_user_path, style: "color: white; font-weight: bold"%> new developers can contribute to it 
            </p>
            </div>
          </div>


          <div class="row bg-purple-800  text-white">
            <div class="page-content ">
              <h1 class="text-purple-800 font-size-50 text-white">
                <i class="icon md-collection-item font-size-70"></i>
                Currently registered <%= link_to "projects ", projects_path, style: "color: white"%>
              </h1>
              <p class="lead text-center" >
                
                
                  </p>
                <div class="col-md-12 mt-50">
                  <ul class="blocks-6">
                    <% Project.all.each do |project|%>
                    <li class="text-center">
                      <%= link_to project, class:"thumbnail m-0" do %>
                      <%= image_tag project.image.url(:thumb), class:"center-block", width:50%>
                      <% end %>
                      <p><b><%= project.name %></b></p>
                    </li>
                    <% end %>

                  </ul>
                </div>
              </div>
            </div>


          </div>
        </body>
