<body class="animsition page-login-v3 layout-full">
  <div class="page vertical-align text-center" data-animsition-in="fade-in" data-animsition-out="fade-out">>
  <div class="page-content vertical-align-middle">
    <div class="panel">
      <div class="panel-body">
        <% if notice %>
        <div class="alert dark alert-success alert-dismissible" role="alert">
          <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">×</span>
          </button>
          <%= notice %>
        </div>
        <% end %>
        <div class="brand">
          <%= image_tag "flosscoach-logo", class: "brand-img" %>
          <h2 class="brand-text font-size-18">FlossCoach login</h2>
        </div>
        <%= form_for :session, url: sign_in_path do |f|%>
          <div class="form-group form-material floating" data-plugin="formMaterial">
          <%= f.email_field :email, class: "form-control", required: true %>
          <%= f.label :email, "Email", autofocus: true, class: "floating-label"  %>
          </div>
          <div class="form-group form-material floating" data-plugin="formMaterial">
          <%= f.password_field :password, class: "form-control", required: true %>
          <%= f.label :password, "Password", autocomplete: "off", class: "floating-label"%>
          </div>
          <div class="form-group clearfix">
            <div class="checkbox-custom checkbox-inline checkbox-primary checkbox-lg float-left">
              <input type="checkbox" id="inputCheckbox" name="remember">
              <label for="inputCheckbox">Remember me</label>
            </div>
            <%= link_to "Forgot your password?", new_password_reset_path, class: "float-right" %>

          </div>
          <%= f.submit "Sign in",  class: "btn btn-primary btn-block btn-lg mt-40" %>
        <% end %>

        </form>
        <p>No account? Please go to <%= link_to "Sign up", new_user_path%></p>
      </div>
    </div>
    <%= render 'visitor/footer' %>

  </div>
</div>

</body>

<!-- End Page -->
