<% content_for :body_class, "app-forum page-aside-left " %>
<% content_for :page_class, "bg-white" %>

  <!-- Forum Sidebar -->
  <div class="page-aside">
    <div class="page-aside-switch">
      <i class="icon md-chevron-left" aria-hidden="true"></i>
      <i class="icon md-chevron-right" aria-hidden="true"></i>
    </div>
    <div class="page-aside-inner page-aside-scroll">
      <div data-role="container">
        <div data-role="content">
          <section class="page-aside-section">
            <h5 class="page-aside-title">Filters</h5>
            <div class="list-group">
              <a class="list-group-item" href="javascript:void(0)">
                <i class="icon md-mood" aria-hidden="true"></i>
                <span class="list-group-item-content">Newest topics</span>
              </a>

              <a class="list-group-item" href="javascript:void(0)">
                <i class="icon md-mood" aria-hidden="true"></i>
                <span class="list-group-item-content">Hot topics</span>
              </a>

            </div>
          </section>

          <section class="page-aside-section">
            <h5 class="page-aside-title">Interact with us</h5>
            <div class="list-group">
              <%= link_to new_forum_topic_path(@forum), class:"list-group-item" do %>
                <i class="icon md-mood"></i>
                <span class="list-group-item-content">Create a topic</span>
              <% end %>
            </div>
          </section>
          <section class="page-aside-section">
            <h5 class="page-aside-title">Settings</h5>
            <div class="list-group">
              <%= link_to @project, class:"list-group-item" do %>
                <i class="icon md-settings"></i>
                <span class="list-group-item-content">
                  Back to <%= @project.name %> project
                </span>
              <% end %>
            </div>
          </section>

        </div>
      </div>
    </div>
  </div>
  <!-- Forum Content -->
  <div class="page-main bg-white">
    <!-- Forum Content Header -->
    <div class="page-header">
      <h1 class="page-title">Welcome to the <%= @project.name %> forum</h1>
      <form class="mt-20" action="#" role="search">
        <div class="input-search input-search-dark">
          <input type="text" class="form-control w-full" placeholder="Search..." name="">
          <button type="submit" class="input-search-btn">
            <i class="icon md-search" aria-hidden="true"></i>
          </button>
        </div>
      </form>
    </div>

    <!-- Forum Content -->
    <div class="page-content tab-content page-content-table nav-tabs-animate bg-white">
      <div >
        <table class="table is-indent">
          <tbody>
            <% if @forum.topics? %>
            <%= render @forum.topics %>
            <% else %>
              No topics created. <%= link_to "Click here to create a topic", new_forum_topic_path(@forum) %>
            <% end%>
          </tbody>
        </table>

      </div>
    </div>
  </div>
