Hello <%= @user.name %>,

Thanks for registering on FlossCoach! To confirm your registration click the URL below.

<%= confirm_email_user_url(@user.confirm_token) %>

We hope you have fun while coding for open source projects :D