
$("#comments<%= @widget.id %> .modal-body .comments").html("<%= escape_javascript(render @widget.comments.is_not_reply, locals: {reply:true}) %>");

  $(".btn-reply").click(function(){
    $(this).parents(".comment-body:first").find(".comment-reply").show();
  })

    $(".btn-reply-close").click(function(){
      $(this).parents(".comment-body:first").find(".comment-reply").hide();
  })
