<%= form_for [@forum, topic] do |f| %>
  <% if topic.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(topic.errors.count, "error") %> must be fixed in order to save this topic:</h2>

      <ul>
      <% topic.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="row">
    <div class="col-lg-12 form-group">
      <%= f.text_field :title , :class => "form-control", placeholder: "Topic title" %>
    </div>

    <div class="col-lg-12 form-group">
      <%= f.text_area :content, :class => "form-control", placeholder: "Content" %>
    </div>
</div>
<div class="row">

  <div class="col-lg-12 form-group">
    <%= f.submit %>
  </div>
</div>

<% end %>
