<%= render 'visitor/header' unless current_user %>
<%= render 'visitor/menu' unless current_user %>
<div class="page">
  <div class="page-content container-fluid">
    <div class="row">
      <!-- Middle Column -->
      <div class="col-lg-12 col-xl-6 push-xl-3">

        <!-- End User Content Release -->
        <!-- User Posts -->
        <div class="user-posts card card-shadow">
          <div class="card-block">
            <h4 class="card-title mb-20">Recent activity</h4>
            <b> This feature is not implemented yet </b>
          </div>
        </div>
        <!-- End User Posts -->
        <!-- User Background -->
        <div class="user-background card card-shadow">
          <div class="card-header card-header-transparent p-20">
            <h4 class="card-title mb-0">Background</h4>
          </div>

          <div class="card-block">
            <h5 class="card-title">
              <i class="icon md-share"></i>
              <span>Skills</span>
            </h5>
            <b>Not implemented yet</b>

          </div>
          <div class="card-block">
            <h5 class="card-title">
              <i class="icon md-star"></i>
              <span>More interest</span>
            </h5>
            <!--<span class="badge mb-5 mr-5 badge-warning">Pokemon go</span>-->
            <b>Not implemented yet</b>
          </div>
        </div>
        <!-- End User Background -->

      </div>
      <!-- End Middle Column -->
      <!-- Left Column -->
      <div class="col-lg-6 col-xl-3 pull-xl-6">
        <div class="user-info card card-shadow text-center">
          <div class="user-base card-block">
            <%= link_to @user, class: "avatar img-bordered avatar-100" do%>
            <%= image_tag @user.avatar.url(:medium) %>
            <% end %>

            <h4 class="user-name"><%= @user.name %></h4>

          </div>


          <div class="user-socials list-group list-group-full">
            <%= link_to "http://www.twitter.com/#{@user.twitter_username}", class:"list-group-item justify-content-center"   do %>
            <i class="icon bd-twitter"></i> twitter.com/<%= @user.twitter_username %>
            <% end if @user.twitter_username?%>

            <%= link_to "http://www.facebook.com/#{@user.facebook_username}", class:"list-group-item justify-content-center"   do %>
            <i class="icon bd-facebook"></i> facebook.com/<%= @user.facebook_username %>
            <% end if @user.facebook_username?%>

            <%= link_to "http://www.github.com/#{@user.github_username}", class:"list-group-item justify-content-center"   do %>
            <i class="icon bd-github"></i> github.com/<%= @user.github_username %>
            <% end if @user.github_username?%>

          </div>
      <%= link_to "Edit your profile", edit_user_path(@user), class:"btn btn-primary btn-block" if current_user == @user%>
        </div>

        <!-- End User Info -->
        <!-- Friend List -->

        <!-- End Friends List -->
      </div>
      <!-- End Left Column -->
      <!-- Right Column -->
      <div class="col-lg-6 col-xl-3 ">
        <div class="card user-visitors">
          <div class="card-header card-header-transparent p-20">
            <h4 class="card-title mb-0">Projects</h4>
          </div>
          <div class="card-block">
            <ul class="list-group list-group-full list-group-dividered mb-0">
              <ul class="list-group list-group-full">
                <% @user.projects.each do |project| %>
                <li class="list-group-item">
                  <div class="media">
                    <div class="pr-20">
                      <%= link_to project, class: "avatar" do %>
                      <%= image_tag project.image.url(:thumb), class: "img-fluid" %>
                      <% end %>
                    </div>
                    <div class="media-body">
                      <h5 class="mt-0 mb-5 hover"><%= link_to project.name, project %>
                      </h5>
                      <small><%= project.name %> owner</small>
                    </div>

                  </div>
                </li>
                <% end %>
              </ul>
            </ul>
            <!--
            <div class="text-center">
            <button class="btn btn-round btn-outline btn-primary" type="button" name="button">See all
            <span>(19)</span>
          </button>
        </div>
      -->

    </div>
    <%= link_to "Create new project", edit_user_path(@user), class:"btn btn-primary btn-block" if current_user == @user%>

  </div>

</div>
<!-- End Right Column -->
</div>
</div>
</div>
</div>
