
<button class="btn btn-floating btn-success" style="position:fixed; bottom:50px; right:20px; border-radius:50%;"
    data-target="#createWidgetOn<%=tab%>" data-toggle="modal">
      <i class="icon wb-plus" aria-hidden="true"></i>
    </button>
    <!--  </a> -->

<!-- POPUP -->

  <div class="modal fade" id="createWidgetOn<%=tab%>" aria-hidden="false" aria-labelledby="createWidgetOn<%=tab%>"
  role="dialog" tabindex="-1">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">×</span>
          </button>
          <h4 class="modal-title" id="createWidgetLabel"><%=t('Create new widget')%></h4>
        </div>
        <div class="modal-body">
        <%= form_for [@project, Widget.new] do |f| %>
          <div class="row">
            <div class="col-lg-12 form-group">
              <%= f.text_field :title , :class => "form-control", placeholder:'Widget title' %>
            </div>
            <%= f.hidden_field :project_id, :value => @project.id %>
            <%= f.hidden_field :tab, :value => tab %>
            <%= f.hidden_field :pos_x, :value => 0 %>
            <%= f.hidden_field :pos_y, :value => 0 %>
            <%= f.hidden_field :width, :value => 3 %>
            <%= f.hidden_field :height, :value => 3 %>
            <%= f.hidden_field :content, :value => "Fill with text" %>

            <div class="col-sm-12 pull-right">
              <%= f.submit "Submit",  :class => "btn btn-primary" %>

            </div>
          <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
