<div class="grid-stack-item"
    data-gs-id="<%= widget.id %>"
    data-gs-x="<%= widget.pos_x %>"
    data-gs-y="<%= widget.pos_y %>"
    data-gs-width="<%= widget.width %>"
    data-gs-height="<%= widget.height %>"
    data-gs-slug="<%= widget.slug %>"
    data-gs-no-resize="<%= 'true' unless @project.owner?(current_user)  %>"
    data-gs-no-move="<%= 'true' unless @project.owner?(current_user)  %>"
    data-gs-locked="<%= 'true' unless @project.owner?(current_user)  %>">

  <div class="grid-stack-item-content panel panel-bordered panel-primary">
    <div class="panel-heading">
      <h3 class="panel-title"><%= widget.title %></h3>
      <% if @project.owner?(current_user) %>

      <div class="panel-actions">
        <a class="panel-action icon wb-chat-group" data-target='#comments<%= widget.id %>' data-toggle="modal"></a>
        <%= link_to "", edit_project_widget_path(@project,widget), class: "panel-action icon wb-edit "%>
        <% if widget.deletable? %>
        <%= link_to "", project_widget_path(@project, widget),
        method: :delete, :class => "panel-action icon wb-close",
        :data => {confirm: "You sure delete this widget?", toogle: 'panel-close'} %>
        <% end %>
      </div>
      <% end %>

    </div>
    <div class="panel-body" id="<%= widget.id %>">
      <%= widget.content.html_safe %>
    </div>
  </div>
</div>

<div class="modal fade" id="comments<%= widget.id %>" aria-hidden="false"  aria-labelledby="comments<%= widget.id %>" role="dialog" tabindex="-1" style="display: none;">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span>×</span>
        </button>
        <h4 class="modal-title" id="exampleOptionalLarge">Comments</h4>
      </div>
      <div class="modal-body">
        <div class="comments">


        <% reply ||= true %>
        <% unless widget.comments.is_not_reply.empty? %>
        <%= render widget.comments.is_not_reply, locals: {reply: true} %>
        <% end %>
        </div>


      <%= render 'comments/form', :widget => widget %>
      </div>
    </div>
  </div>
</div>
