


<div class="page-header">

  <h1 class="page-title ">Editing Widget "<%= @widget.title %>" of project <%= @project.name %></h1>
  <p class="lead">
    Add your project to FlossCoach and help newbies collaborate with your project.
  </p>
</div>

<div class="page-content">

  <div class="panel">
    <div class="panel-body">

      <%= simple_form_for [@project,@widget] do |f| %>
        <%= f.input :title %>
        <%= f.input :content, as: :summernote %>
        <%= f.button :submit, data: { disable_with: "Updating widget..." }%>
      <% end %>
  </div>

  </div>

</div>
