
<%= render 'visitor/header' unless current_user %>
<%= render 'visitor/menu' unless current_user %>

<div class="page-header text-center">
  <center>
    <%= image_tag "flosscoach-logo" %>
  </center>
  <h1 class="page-title ">  <%=t('Explore Flosscoach') %></h1>
  <p class="lead">
    <%=t('Discover projects, groups and technologies')%> <%=t('Share your projects with others')%>
  </p>
</div>
<!-- Panel -->
<div class="page-content">
  <div class="panel ">
    <div class="panel-heading">
      <h3 class="panel-title"><%= @projects.count %> projects found</h3>
    </div>
    <div class="panel-body container-fluid">

      <div class="row row-lg">
        <div class="col-md-8">
          <form class="page-search-form" role="search">
            <div class="form-group">
              <div class="input-group">
                <%= form_tag projects_path, :method => 'get' do %>
                      <%= text_field_tag :search, params[:search], class: "form-control", placeholder:"Search..." %>
                      <span class="input-group-btn">
                      <%= submit_tag raw("Search"), style: "line-height:inherit;",
                      class: "btn btn-primary waves-effect waves-classic", data: { disable_with: "Please wait.." }%>
                    </span>

                  <% end %>


              </div>
              <div class="btn-group">
                <button type="button" class="btn btn-default dropdown-toggle btn-sm" id="searchFilter"
                data-toggle="dropdown" aria-expanded="false">
                Order by: <%= @order_by %>
              </button>
              <div class="dropdown-menu" aria-labelledby="searchFilter" role="menu">
                <%= link_to "Recents", recent_projects_path, class: "dropdown-item" %>
                <%= link_to "Most Favoritered", most_favorited_projects_path, class: "dropdown-item" %>
              </div>
            </div>
          </div>
        </form>


        <div class="page-content  page-content-table  ">
          <table class="table is-indent ">
            <table class="table is-indent">
              <tbody>
                <%= render @projects %>
              </tbody>
            </table>
          </div>

        </div>
        <div class="col-md-4">
          <div>
            <h4>Popular tags</h4>
            <div class="list-group list-group-bordered">
              <% Tag.all_ordered_by_count.first(10).each do |tag, count| %>
              <%= link_to "#{tag} - #{count} results", projects_path(search: tag), class:"list-group-item" %>

              <% end %>

            </div>
            <div>
              <% if current_user %>
              <div>
                <%= link_to "Create new project", new_project_path %>
              </div>
              <% end %>
            </div>
          </div>
        </div>

      </div>


    </div>
  </div>

</div>
