
<div class="page-header">

  <h1 class="page-title ">Create/add your project on FlossCoach</h1>
  <p class="lead">
    Add your project to FlossCoach and help newbies collaborate with your project.
  </p>
</div>

<div class="page-content">
  <div class="panel">
    <div class="panel-body container-fluid">
      <% if @project.errors.any? %>
      <div role="alert" class="alert dark alert-danger alert-icon alert-dismissible">
        <button aria-label="Close" data-dismiss="alert" class="close" type="button">
          <span aria-hidden="true">×</span>
        </button>
        <i class="icon md-notifications" aria-hidden="true"></i>
        <h4><%= pluralize(@project.errors.count, "Error") %> creating a project</h4>
        <ul>
          <% @project.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
          <% @project.widgets.each do |widget| %>
            <% widget.errors.full_messages.each do |message| %>
              <li>Widget <%= message %></li>
            <% end %>
          <% end %>
        </ul>
      </div>
      <% end %>



  <%= form_for @project do |f| %>
  <div class="row">
    <div class="col-lg-12 form-group">
      <%= f.label :name, "Name" %>
      <%= f.text_field :name , :class => "form-control", placeholder: t('Name') %>
    </div>
    <div class="col-lg-12 form-group">
      <%= f.label :description, "Description" %>

      <%= f.text_area :description, :class => "form-control", :rows => 4, placeholder: t('Description') %>
    </div>
    <div class="col-lg-12 form-group">
      <%= check_box_tag 'openhub_check' %> <%=t('I want to get data from OpenHub')%>

    </div>
    <div class="col-lg-12 form-group">
      <%= f.label :tags, "Tags" %>
      <%= f.text_field :tags, class: "form-control" %>


    </div>

    <div class="col-sm-12 pull-right">
      <%= f.submit t('Create project') , class: "btn btn-primary btn-outline", data: { disable_with: "Please wait.." } %>

    </div>
    <% end %>
  </div>

  </div>

</div>
