/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *

 * Bootstrap and site stylesheets
 *= require remark/global/css/bootstrap.css
 *= require remark/global/css/bootstrap-extend.css
 *= require remark/assets/css/site.css

 * Necessary plugin stylesheets

 *= require remark/global/vendor/animsition/animsition.css
 *= require remark/global/vendor/asscrollable/asScrollable.css
 *= require remark/global/vendor/switchery/switchery.css
 *= require remark/global/vendor/slidepanel/slidePanel.css
 *= require remark/global/vendor/flag-icon-css/flag-icon.css

 * Icon stylesheets
 *= require remark/global/fonts/material-design/material-design.min.css

 *= require remark/global/fonts/web-icons/web-icons.css
 *= require remark/global/fonts/brand-icons/brand-icons.css



 *= require gridstack/gridstack

 *= require_self
 */
  .site-footer .site-footer-right a,
    .site-footer .site-footer-right a:hover,
      .site-footer .site-footer-right a:link{
    text-decoration:none;
  }
 .site-footer .site-footer-right img{
   width:65px;
   margin-left:10px;
 }
