<nav class="site-navbar navbar navbar-default navbar-fixed-top navbar-mega navbar-inverse"
role="navigation">
<div class="navbar-header">
  <button type="button" class="navbar-toggler hamburger hamburger-close navbar-toggler-left hided"
  data-toggle="menubar">
  <span class="sr-only">Toggle navigation</span>
  <span class="hamburger-bar"></span>
</button>

<div class="navbar-brand navbar-brand-center site-gridmenu-toggle" data-toggle="gridmenu">
  <span class="navbar-brand-text hidden-xs-down">FlossCoach</span>
</div>


</div>
<div class="navbar-container container-fluid">
  <!-- Navbar Collapse -->
  <div class="collapse navbar-collapse navbar-collapse-toolbar" id="site-navbar-collapse">
    <!-- Navbar Toolbar -->
    <ul class="nav navbar-toolbar">
      <li class="nav-item hidden-float" id="toggleMenubar">
        <a class="nav-link" data-toggle="menubar" href="#" role="button">
          <i class="icon hamburger hamburger-arrow-left">
            <span class="sr-only">Toggle menubar</span>
            <span class="hamburger-bar"></span>
          </i>
        </a>
      </li>


      <li class="nav-item dropdown dropdown-fw dropdown-mega">
        <%= render 'header_trending' %>
    </li>
  </ul>
  <!-- End Navbar Toolbar -->
  <!-- Navbar Toolbar Right -->
  <ul class="nav navbar-toolbar navbar-right navbar-toolbar-right">
    <%= render 'header_translates' %>
      <% if current_user %>
      <li class="nav-item dropdown">
        <a class="nav-link navbar-avatar" data-toggle="dropdown" href="#" aria-expanded="false"
        data-animation="scale-up" role="button">
        <span class="avatar avatar-online">
          <%= image_tag current_user.avatar.url(:thumb) %>
          <i></i>
        </span>
      </a>
      <% end %>
      <div class="dropdown-menu" role="menu">
        <%= link_to current_user, class:"dropdown-item" do %>
        <i class="icon md-account"></i> Profile
        <% end %>
        <%= link_to edit_user_path(current_user), class:"dropdown-item" do %>
        <i class="icon md-settings"></i> Edit Profile
        <% end %>
        <div class="dropdown-divider"></div>
        <%= link_to sign_out_path, method: :delete, class: "dropdown-item" do%>
        <i class="icon md-power"></i> Logout</a>
        <% end %>

      </div>
    </li>
    <% if current_user && current_user.respond_to?(:notifications)%>
    <li class="nav-item dropdown">
      <a class="nav-link" data-toggle="dropdown" href="javascript:void(0)" title="Notifications"
      aria-expanded="false" data-animation="scale-up" role="button">
      <i class="icon md-notifications" aria-hidden="true"></i>
      <span class="badge badge-pill badge-danger up">5</span>
    </a>
    <div class="dropdown-menu dropdown-menu-right dropdown-menu-media" role="menu">
      <div class="dropdown-menu-header">
        <h5>NOTIFICATIONS</h5>
        <span class="badge badge-round badge-danger">New 5</span>
      </div>
      <div class="list-group">
        <div data-role="container">
          <div data-role="content">
            <a class="list-group-item dropdown-item" href="javascript:void(0)" role="menuitem">
              <div class="media">
                <div class="pr-10">
                  <i class="icon md-receipt bg-red-600 white icon-circle" aria-hidden="true"></i>
                </div>
                <div class="media-body">
                  <h6 class="media-heading">A new order has been placed</h6>
                  <time class="media-meta" datetime="2017-06-12T20:50:48+08:00">5 hours ago</time>
                </div>
              </div>
            </a>
            <a class="list-group-item dropdown-item" href="javascript:void(0)" role="menuitem">
              <div class="media">
                <div class="pr-10">
                  <i class="icon md-account bg-green-600 white icon-circle" aria-hidden="true"></i>
                </div>
                <div class="media-body">
                  <h6 class="media-heading">Completed the task</h6>
                  <time class="media-meta" datetime="2017-06-11T18:29:20+08:00">2 days ago</time>
                </div>
              </div>
            </a>
          </div>
        </div>
      </div>
      <div class="dropdown-menu-footer">
        <a class="dropdown-menu-footer-btn" href="javascript:void(0)" role="button">
          <i class="icon md-settings" aria-hidden="true"></i>
        </a>
        <a class="dropdown-item" href="javascript:void(0)" role="menuitem">
          All notifications
        </a>
      </div>
    </div>
  </li>
  <% end %>



</ul>
<!-- End Navbar Toolbar Right -->
<div class="navbar-brand navbar-brand-center">
  <%= link_to projects_path do %>
  <%= image_tag "flosscoach", height: "30" %>
  <% end %>
</div>
</div>
<!-- End Navbar Collapse -->

</div>
</nav>
