<ul class="blocks-3">
  <% Project.limit(6).each do |project|%>
  <li class="text-center">
      <%= link_to project, class: "thumbnail m-0" do %>
      <%=image_tag project.image.url(:thumb) %>
      <% end %>
    <p><%= project.name %></p>
  </li>
  <% end %>

</ul>
